{%extends 'base.html'%}

{%block content%}
{%for data in datas%}
<p>{{data.question}}</p>
<p>{{data.bot_answer}}</p>
{%endfor%}

<form method="POST">
{%csrf_token%}	
<input type="text" name="question">
<button type="submit">submit</button>

</form>
{%endblock%}
